<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />
    
</head>

<body>
    <%- include('../public/partials/header.ejs') %>
        <!-- <% if (blogList.length < 1) { %>
            <h1 class="no-blog-title">
                You don't have any blogs yet. Please visit <br />the home page to create a
                new blog.
            </h1>
            <% } else {%>
                <h1 class="title">Your Blogs list</h1>
                <% } %>

                    <div class="overflow-div">
                        <div class="home-container">
                            <% if (locals.blogList) { %>
                                <% for( let index=0; index < blogList.length; index++ ) { %>
                                    <div class="blog-card">
                                        <span class="blog-number">
                                            <%= index+ 1 %>
                                        </span>
                                        <h4>
                                            <%= blogList[index].title %>
                                        </h4>
                                        <p>
                                            <%= blogList[index].description?.slice(0,300) %>
                                                <% if (blogList[index].description?.length> 299) { %> ...
                                                    <a class="view-btn" href="/blogDetails/<%= blogList[index].id %>">
                                                        View Blog</a>
                                                    <% } %>
                                        </p>
                                        <div class="btn-wrapper">
                                            <form action="/delete/<%= blogList[index].id %>" method="post">
                                                <button class="delete-btn">Delete</button>
                                            </form>
                                            <a class="edit-btn" href="/edit/<%=  blogList[index].id %>">edit</a>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } else { %>
                                            <h1>NO Blogs here</h1>

                                            <% } %>
                        </div>
                    </div> -->
                    <% if (posts != null) { %>
                        <div class="overflow-div">
                            <div class="home-container">
                                <h1 class="title">
                                    techtab posts
                                </h1>
                                <% for( let index=0; index < posts.length; index++ ) { %>
                                    <div class="blog-card">
                                        <span class="blog-number">
                                            <%= index+ 1 %>
                                        </span>
                                        <h4>
                                            <%= posts[index].title %>
                                        </h4>
                                        <article>
                                            <%= posts[index].description?.slice(0,300) %>
                                                <% if (posts[index].description?.length> 299) { %> ...
                                                    <a class="view-btn" href="/blogDetails/<%= posts[index]._id %>">
                                                        View Card</a>
                                                    <% } %>
                                        </article>
                                        <h5>
                                            <%= posts[index].timestamp%>
                                        </h5>
                                    </div>
                                <% } %>
                            </div>
                        </div>    
                
                    <% } else {%>
                            <h1 class="title">techtab posts</h1>
                            <div class="overflow-div">
                                <div class="home-container">
                                    <h1>NO Cards here</h1>
                                    <!-- <% if (locals.blogList) { %>
                                        <% for( let index=0; index < blogList.length; index++ ) { %>
                                            <div class="blog-card">
                                                <span class="blog-number">
                                                    <%= index+ 1 %>
                                                </span>
                                                <h4>
                                                    <%= blogList[index].title %>
                                                </h4>
                                                <p>
                                                    <%= blogList[index].description?.slice(0,300) %>
                                                        <% if (blogList[index].description?.length> 299) { %> ...
                                                            <a class="view-btn" href="/blogDetails/<%= blogList[index].id %>">
                                                                View Card</a>
                                                            <% } %>
                                                </p>
                                                <p>
                                                    <%= blogList[index].timestamp%>
                                                </p>
                                                <!-- For subsribers -->
                                                <!-- <div class="btn-wrapper">
                                                    <form action="/delete/<%= blogList[index].id %>" method="post">
                                                        <button class="delete-btn">Delete</button>
                                                    </form>
                                                    <a class="edit-btn" href="/edit/<%=  blogList[index].id %>">edit</a>
                                                </div> -->
                                            <!-- </div>
                                                <% } %>
                                        <% } else { %>
                                        <h1>NO Cards here</h1>
                                    <% } %> -->
                                </div>
                            </div>
                        <% } %> 


    <%- include('../public/partials/footer.ejs') %>
    <script src="/main.js" type="text/javascript">
       
    </script>
</body>

</html>